RewriteEngine On
RewriteRule ^(controllers|models|config|views)/ - [F,L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg|jpeg|gif|ico|pdf|mp4|mp3)$ [NC]
RewriteRule ^ - [L]

RewriteRule ^([a-z]+)/([a-z]+)/([0-9]+)/?$ index.php?c=$1&a=$2&id=$3 [L,QSA]


RewriteRule ^([a-z]+)/([a-z]+)/?$ index.php?c=$1&a=$2 [L,QSA]

RewriteRule ^([a-z]+)/?$ index.php?c=$1&a=index [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]